@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Monoton&family=Space+Mono&display=swap');

/*
    font-family: 'Architects Daughter', cursive;
font-family: 'Monoton', cursive;
font-family: 'Space Mono', monospace;
*/




body {
    background: #c79dff;
    color: black;
    font-family: 'Lato', Arial, sans-serif;
}

h1 {
    font: 3em 'Monoton', cursive;
    /*font-family: "proxima-nova",sans-serif;*/
    letter-spacing: -0.01em;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    margin-left: -3px;
    line-height: 1em;
    color: #808080;
    text-align: center;
    margin-bottom: 8px;
    text-rendering: optimizeLegibility;
}
h2 {
    font: 3em 'Monoton', cursive;
    /*font-family: "proxima-nova",sans-serif;*/
    letter-spacing: -0.01em;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    margin-left: -3px;
    line-height: 1em;
    color: black;
    text-align: center;
    margin-bottom: 8px;
    text-rendering: optimizeLegibility;
}



table {
    width: 80%;
    margin: auto;
}

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}


/*#region nav style */

nav ul {
    font: 1.2em '',cursive;
    background-image: linear-gradient(green, lightpink, gray);
    padding: .8em;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

    nav ul li:hover {
        background-image: linear-gradient(orange, lightgreen, blue);
        border-radius: 10%;
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .1em 1em;
            display: block;
        }
p {
    text-align: center;
    text-size-adjust: 10%;
}


/*#endregion */