@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Monoton&family=Space+Mono&display=swap');

/*
    font-family: 'Architects Daughter', cursive;
font-family: 'Monoton', cursive;
font-family: 'Space Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@100&family=Space+Mono&display=swap');

/*
    font-family: 'Architects Daughter', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Space Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Offside&family=Raleway:wght@100&family=Space+Mono&display=swap');

/*
    font-family: 'Architects Daughter', cursive;
font-family: 'Offside', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Space Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Offside&family=Raleway:wght@100&family=Space+Mono&display=swap');

/*
    font-family: 'Anton', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Offside', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Space Mono', monospace;
*/

a {
    color: peru;
    font-weight: bold;
    text-decoration: none; /*removes the default underline*/
}

.logo div {


}

.wrapper {
    background:#fff;
    max-width: 960px;
    margin: 0 auto;
    padding 20px;
}

.teamnav nav {
    font: 2.5em 'Monoton', cursive;
    float: none;
    background-color: lightblue;
    width: auto;
    margin-bottom: 1%;
    font: 50px;
  
} 

#headerOverlay {
    background-image: url('../images/About image.png');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
}

.smooth {
    padding: 1em;
}

section p {
    display: inline-block;
    font: .8em 'Anton';
    padding: 1em;
}
h1 {
    font: 2.5em 'Monoton', cursive;
    float: none;
    background-color: lightblue;
    width: auto;
    margin-bottom: 1%;
    font: 50px;
}

h2 {
    font: 1.2em 'Anton', cursive;
}

center {
    margin-auto;
    border-image: 4px round darkgray;
}

nav ul {
    font: 1.2em '',cursive;
    background-color: darkmagenta;
    padding: .8em;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

    nav ul li:hover {
        background-color: darkblue
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .1em 1em;
            display: block;
        }
/*.team section {
    float: left;
    width: 21%;
    margin: 1%;
    padding: 1%;
    height: 100px;
}*/
h1 {
    color: orangered;
    
}
.contact 
{

}
.service {
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%
}

main {
}

.soulmusic {
    border-bottom: dashed 10px red;
}

.align-left {
    text-align: center;
}

div {
    float: left;
    padding: 15px;
}

.div1 {
    /*background: purple;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.div2 {
    /*background: orange;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.div3 {
    /*background: lightgreen;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.div4 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}



header {
    background: #303055;
    color: white;
    padding-top: 10px;
    min-height: 90px;
    border-bottom: #6FC41C 4px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
}

header li {
    float: left;
    display: inline;
    padding: 0px 20px 0px 20px;
}

header #branding img {
    float: left;
    width: 100px;
    height: 100px;
    padding: 0 35px 0 15px;
    margin-top: 0px;
    margin-bottom: 30px;
}

header #branding h1 p {
    display: inline;
}

header #branding h1 {
    font-size: 2.25em;
    margin-bottom: 0px;
}

header #branding p {
    font-style: italic;
    font-size: .75em;
    margin-top: 5px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #6FC41C;
    font-weight: bold;
}

header a:hover {
    color: #E5EC2E;
    font-weight: bold;