@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Monoton&family=Space+Mono&display=swap');

/*
    font-family: 'Architects Daughter', cursive;
font-family: 'Monoton', cursive;
font-family: 'Space Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@100&family=Space+Mono&display=swap');

/*
    font-family: 'Architects Daughter', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Space Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Offside&family=Raleway:wght@100&family=Space+Mono&display=swap');

/*
    font-family: 'Architects Daughter', cursive;
font-family: 'Offside', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Space Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Offside&family=Raleway:wght@100&family=Space+Mono&display=swap');

/*
    font-family: 'Anton', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Offside', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Space Mono', monospace;
*/






/*hh {
     background: red; /*Background color to header*/
    background: -moz-linear-gradient(top, red, FFFFFF);
    
    /*from to colors, I have used simple name it can be replaced by color codes*/
     background: -webkit-gradient(linear, left top, left bottom, from(red), to(white));
     padding: 10px 20px;
    margin-left: -20px;
     margin-top: 0;
     position: relative;
     width: 70%;
    
    /*from droping box shadow at the bottom of header*/
    moz-box-shadow: 1px 1px 3px #292929;
    webkit-box-shadow: 1px 1px 3px #292929;
    box-shadow: 1px 1px 3px #292929;
    color: #454545;
    text-shadow: 0 1px 0 white;
    
}*/





    h2 {
    font: 1em 'Anton', cursive;
    background-color: aqua;
    width: 50%;
    padding: .2em;
    margin: 15px;
    text-align: center;
}
div {
    float: left;
    padding: 10px;
}

.div1 {
    /*background: purple;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.div2 {
    /*background: orange;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.div3 {
    /*background: lightgreen;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.div4 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.div5 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.div6 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.div7 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.div8 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.div9 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.div10 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.div11 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.div12 {
    /*background: lightblue;*/
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.faculty {
    background: #ff6a00;
    max-height width: 960px;
    margin:0 auto;
    padding: 20px;
}
nav ul {
    font: 1.2em '',cursive;
    background-color: darkmagenta;
    padding: .8em;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

    nav ul li:hover {
        background-color: darkblue
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .1em 1em;
            display: block;
        }
h1 {
    font: 3em 'Monoton', cursive;
    float: none;
    background-color: lightblue;
    width: auto;
    margin-bottom: 1%;
    font: 50px;
}